/* A style sheet, defining the styling of the profile picture component. */

/* Profile Picture Container */
.profile-pic-container {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}

/* Profile Image Styling */
.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
